.split-vertical .item_empty_text {
	font-size: 3.84rem;
}
.split-vertical .item_cell_state_text {
	font-size: 3.84rem;
}
.split-vertical .backpack_weapons_item_value {
	font-size: 3.6rem;
	letter-spacing: 0.16rem;
}