<div class="backpack_weapons_item" data-bind-class="'backpack-item-'+{{index}};{{data_entry.rarity}}"
	 data-bind-class-toggle="new:{{data_entry.isnew}};equipped:{{data_entry.isequipped}};tracked:{{data_entry.istracked}};empty:{{data_entry.isempty}};refresh:{{data_entry.isrefresh}};junk:{{data_entry.isjunk}};favorite:{{data_entry.isfavorite}};invalid:{{data_entry.isinvalid}};locked:{{data_entry.islocked}};cant-sell:{{data_entry.cantsell}}"
	 data-input-elem="true" data-bind-input-disabled="{{data_entry.isdisabled}}">

	<div class="backpack_cell_bg"></div>
  	<div class="backpack_weapon_cell_electricity"></div>
	<div class="backpack_weapons_item_cracks"></div>

	<div class="backpack_weapons_item_details_bg">
		<div class="backpack_weapons_item_logo_cntr">
			<div class="backpack_weapons_item_logo" data-bind-style-background-image-url="{{data_entry.manufacturerimagepath}}"></div>
		</div>
	</div>

	<div class="backpack_weapons_item_value" data-bind-value="{{data_entry.level}}"></div>
	<div class="backpack_weapons_item_img" data-bind-style-background-image-url="{{data_entry.assetpath}}"></div>
	<div class="item_damage_type" data-bind-class="{{data_entry.damagetypeident}}"></div>

	<div class="item_empty">
		<div class="item_peak_bg"></div>
		<div class="item_empty_text" data-bind-value="{{data_entry.emptytext}}"></div>
	</div>

	<div class="item_refresh">
		<div class="item_refresh_bg"></div>
		<div class="item_loading_icon"></div>
	</div>

	<div class="item_locked"></div>
	<div class="item_favorite"></div>
	<div class="backpack_cell_border"></div>
	<div class="backpack_cell_selection"></div>
	<div class="item_equipped"></div>
	<div class="item_tracked"></div>
	<div class="item_junk"></div>

	<div class="item_cell_state_text stroke_black" data-bind-value="{{data_entry.cantselltext}}">
	</div>

	<div class="item_select_y">
		<div class="item_select_top"></div>
		<div class="item_select_bottom"></div>
	</div>

	<div class="item_new">
		<div class="item_new_bg"></div>
	</div>

	<div class="item_invalid"></div>

	<div class="item_gliphy_cntr">
		<div class="item_gliphy_left"></div>
		<div class="item_gliphy_right"></div>
		<div class="gradient_glow"></div>
	</div>

</div>